{% extends 'base.html' %}

{% block head %}
<title>My Bank - Accounts</title>
{% endblock %}

{% block body %}
 
<div class="container">
    <div class="nav">
        <div class="nav-title">Dashboard</div>
        </div>

    <div class="account-info">
        <h2>Account Information</h2>
        <p><strong>Name:</strong> </p>
        <p><strong>Email:</strong></p>
    </div>
    
    <div class="create-account">
        <button onclick="window.location.href='/create_acc'" class="create-button">Create New Account</button>
    </div>
    
    <div class="overview">
        <h2>Overview</h2>
        <table style="width: 100%";>
            <tr>
                <th>Account Name</th>
                <th>Balance</th>
                <th>Date Created</th>
                <th>Manage</th>
            </tr>
            {% for account in accounts %}
            <tr>
                <td>{{account.account_name}}</td>
                <td>{{account.balance}}</td>
                <td>{{account.date_created}}</td>
                <td style="text-align: center;">
                    <a href="{{ url_for('account_transactions', account_id=account.id) }}">View Transactions</a> |
                    <a href="{{ url_for('delete_account', id=account.id) }}">Delete</a>
                </td>
            </tr>
                 {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
