<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-logo">My Bank</a>
    
            <div class="nav">
                <a href="/accounts" class="{% if request.endpoint == 'accounts' %}active{% endif %}">Accounts</a>
                <a href="/create_acc" class="{% if request.endpoint == 'create_acc' %}active{% endif %}">Create Accounts</a>
                <form action="/logout" method="post">
                <input type="submit" value="Log out">
                </form>
            </div>
        </div>
    </nav> 
    <div class="container">
            {% block body %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 My Bank. All rights reserved.</p>
    </footer>
</body>
</html>