<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="nav">
        <div><a href="/">Home</a></div>
        <div><a href="/">Accounts</a></div>
        <div><a href="/">Transactions</a></div>
        <div><a href="/">Profile</a></div>
        <form action="/logout" method="POST">
            <input type="submit" value="Log out">
        </form>
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 My Bank. All rights reserved.</p>
    </footer>
</body>
</html>