{% extends 'base.html' %}

{% block head %}
<title>My Bank - Login</title>
{% endblock %}

{% block body %}
<form action="/" method="POST">
    <h1>Login</h1>
    <span>Email:</span>
    <br>
    <input type="text" name="email" placeholder="Please enter your email address.">
    <br>
    <span>Password</span>
    <br>
    <input type="password" name="password">
    <br>
    <a href="{{ url_for('signup') }}">Don't have account? Create account here</a>
    <br>
    <input type="submit" value="Login">
</form>
<div class="nav">
    <div>Accounts</div>
    <form action="/logout">
        <input type="submit" value="Log out">
    </form>
</div>    
{% endblock %}