{% extends 'base.html' %}

{% block head %}
<title>My Bank - Deposit</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Your balance is R{{current_bal}}</h1>
    <form action="/accounts/{{account.id}}/transactions/transact", method="POST" class="form">
        <div class="form-item">
            <label for="transaction">Type of transaction:</label>
            <select name="transaction" id="transaction">
                <option value="deposit">Deposit</option>
                <option value="withdrawal">Withdrawal</option>
            </select>
        </div>
        <div class="form-item">
            <label for="amount">Amount</label>
            <input type="number" name="amount" placeholder="e.g 100.00"/>
        </div>
        <div class="form-item">
            <button type="submit" class="button">Make transaction</button>
        </div>
    </form>
</div>
{% endblock %}